* {
    box-sizing: border-box;
  }

body {
  font-family: "Nunito", sans-serif;
  text-shadow: 0px 0px 2px black;
}
.main-info {
  color: white;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.main-info .info-container {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  border-right: 2px solid rgba(255, 255, 255);
}

.main-info .weather-container {
  display: inline-block;
  width: 69%;
  vertical-align: top;

}

.weather-container .w-items {
  margin-bottom: 10px;
}

.current-weather {
  font-size: 300%;
  margin-top: -20px;
}

.current-weather .temp-unit {
  font-size: 40px;
}

.city {
  font-size : 2.5rem;
  margin-top: -20px;
}

.current-weather .w-icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.future-forecast {
  background-color: rgba(94, 96, 206, 0.7);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.future-forecast .day {
  font-weight: bold;
}
